{% load static %}
<div class="card-list">
  {% for recipe in object_list %}
    <div class="card" data-id="120">
      <a href="{% url 'recipes:recipe' pk=recipe.id %}" class="link" target="_blank"><img src="{% static 'images/testCardImg.png' %}" alt="{{ recipe.title }}" class="card__image"></a>
      <div class="card__body">
        <a class="card__title link" href="{% url 'recipes:recipe' pk=recipe.id %}" target="_blank">{{ recipe.title }}</a>
        {% with tags=recipe.tag.all %}
          {% if tags|length != 0 %}
            <ul class="card__items">
              {% for tag in tags %}
                {% if tag.choice == "lunch" %}<li class="card__item"><span class="badge badge_style_green">Обед</span></li>{% endif %}
                {% if tag.choice == "breakfast" %}<li class="card__item"><span class="badge badge_style_orange">Завтрак</span></li>{% endif %}
                {% if tag.choice == "dinner" %}<li class="card__item"><span class="badge badge_style_purple">Ужин</span></li>{% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <div class="card__items card__items_column">
          <p class="card__text"><span class="icon-time"></span>{{ recipe.cooking_time }} мин.</p>
          <p class="card__text"><span class="icon-user"></span> <a href="#" style="color: black"> {{ recipe.author.first_name }}</a></p>
        </div>
      </div>
      <div class="card__footer">
        {% if user.is_authenticated %}
          <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
          <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
        {% endif %}
      </div>
    </div>
  {% empty %}
    <h3>Список рецептов пуст.</h3>
  {% endfor %}
</div>