{% load static %}
{% load thumbnail %}
<div class="card-list">
  {% for recipe in object_list %}
    <div class="card" data-id="{{ recipe.id }}">
      {% thumbnail recipe.image "480x480" crop="center" upscale=True as image %}
        <a href="{% url 'recipes:recipe' pk=recipe.id %}" class="link" target="_blank"><img src="{{ image.url }}" alt="{{ recipe.title }}" class="card__image"></a>
      {% endthumbnail %}
        <div class="card__body">
        <a class="card__title link" href="{% url 'recipes:recipe' pk=recipe.id %}" target="_blank">{{ recipe.title }}</a>
        {% with tags=recipe.tag.all %}
          <ul class="card__items">
            {% for tag in tags %}
              <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.title }}</span></li>
            {% endfor %}
          </ul>
        {% endwith %}
        <div class="card__items card__items_column">
          <p class="card__text"><span class="icon-time"></span>{{ recipe.cooking_time }} мин.</p>
          <p class="card__text"><span class="icon-user"></span> <a href="{% url 'recipes:profile' pk=recipe.author.id %}" style="color: black"> 
            {% if recipe.author.full_name %} {{ recipe.author.full_name }} {% else %} {{ recipe.author.username }} {% endif %}</a>
          </p>
        </div>
      </div>
      {% if request.user.is_authenticated %}
        <div class="card__footer">
          <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
          <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
        </div>
      {% endif %}
    </div>
  {% empty %}
    <h3>Список рецептов пуст.</h3>
  {% endfor %}
</div>