{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Пароль успешно изменен</title>
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
  </head>
  <body class="body">
    <header class="header">
      <nav class="nav">
        <div class="nav__container container">
          <ul class="nav__items list">
            <li class="nav__item nav__item_active"><a href="{% url 'recipes:index' %}" class="nav__link link">Главная страница</a></li>
            <li class="nav__item"><a href="#" class="nav__link link">Мои подписки</a></li>
            <li class="nav__item"><a href="#" class="nav__link link">Создать рецепт</a></li>
            <li class="nav__item"><a href="#" class="nav__link link">Избранное</a></li>
            <li class="nav__item"><a href="{% url 'recipes:basket' %}" class="nav__link link">Список покупок</a> <span class="badge badge_style_blue nav__badge" id="counter">4</span></li>
          </ul>
          <ul class="nav__items list">
            <li class="nav__item"><a href="{% url 'password_change_done' %}" class="nav__link link">Изменить пароль</a></li>
            <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="main container">
      <div class="main__header">
        <h1 class="main__title">Пароль успешно изменен!</h1>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__container container">
        <a href="{% url 'recipes:index' %}" class="footer__brand link">Продуктовый помощник</a>
        <ul class="footer__items">
          <li class="footer__item"><a href="#" class="footer__link link">Об авторе </a></li>
          <li class="footer__item"><a href="#" class="footer__link link">Технологии</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
