{% extends "recipes/base.html" %}
{% load static %}
{% block title %}
  <title>{{ author.username }}</title>
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}
  <div class="main__header">
    <h1 class="main__title">{{ author.username }}</h1>
    {% include 'includes/tag.html' %}
  </div>
  {% if request.user.is_authenticated and request.user != author %}
    <div class="author-subscribe" data-author="{{ author.id }}">
      {% csrf_token %}
      <p style="padding: 0 0 2em 0;">
        {% if following %}
          {% include 'includes/buttons/button_subscribe_active.html' %}
        {% else %}
          {% include 'includes/buttons/button_subscribe_default.html' %}
        {% endif %}
      </p>
    </div>
  {% endif %}
  {% include 'includes/card_list.html' with object_list=author.recipes.all %}
{% endblock %}
{% block js %}
  <script src="{% static 'js/components/MainCards.js' %}"></script>
  <script src="{% static 'js/components/Purchases.js' %}"></script>
  <script src="{% static 'js/components/Favorites.js' %}"></script>
  <script src="{% static 'js/components/Subscribe.js' %}"></script>
  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/AuthorRecipe.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>
  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'js/templates/authorRecipe.js' %}"></script>
{% endblock %}