{% extends "recipes/base.html" %}
{% load static %}
{% load thumbnail %}
{% block title %}
  Список покупок
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}
{% block content %}
  <div class="main__header">
    <h1 class="main__title">Список покупок</h1>
  </div>
  <div class="card-list card-list_column">
    <ul class="shopping-list">
      {% for entry in basket %}
        <li class="shopping-list__item" data-id="{{ entry.recipe.id }}">
          <div class="recipe recipe_reverse">
            <a class="card__title link" href="{% url 'recipes:recipe' pk=entry.recipe.id %}" target="_blank">
              {% thumbnail entry.recipe.image "480x480" crop="center" upscale=True as image %}
                <img src="{{ image.url }}" alt="{{ entry.recipe.title }}" class="recipe__image recipe__image_big">
              {% endthumbnail %}
              <h3 class="recipe__title">{{ entry.recipe.title }}</h3>
              <p class="recipe__text"><span class="icon-time"></span> {{ entry.recipe.cooking_time }} мин.</p>
            </a>
          </div>
          <a href="{% url 'recipes:purchases' id=entry.id %}" class="shopping-list__button link">Удалить</a>
        </li>
      {% endfor %}
    </ul>
    <a href="{% url 'recipes:recipe_basket_download' %}"><button class="button button_style_blue">Скачать список</button></a>
  </div>
{% endblock %}
{% block js %}
  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>
  <script src="{% static 'js/components/ShopList.js' %}"></script>
  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'js/templates/shopList.js' %}"></script>
{% endblock %}